.viewHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    align-items: center;
    overflow: auto;
}

.table--samples {
    margin-top: 2%;
    border-collapse: collapse;
    border: 2px solid;
    background-color: whitesmoke;
    width: 100%;
}

.table--samples--header {
    text-align: center;
    background-color: #003C71;
    color: whitesmoke;
}

.table--samples--header th {
    border: 1px solid;
    padding-top: 2%;
    padding-bottom: 2%;
}

.table--filter {
    float: right;
    padding-bottom: 2%;
}

.table--samples--body {
    text-align: center;
}

.table--samples--body td {
    border: 1px solid;
}

.table--samples--header--sorted {
    padding-left: 2%;
}