.viewHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow: auto;
}

.table--samples {
    margin-top: 2%;
    border-collapse: collapse;
    border: 2px solid;
    background-color: white;
    width: 90%;
}

.table--samples--header {
    text-align: center;
    background-color: lightyellow;
    color: black;
}

.table--samples--header th {
    border: 1px solid;
    padding-top: 2%;
    padding-bottom: 2%;
}

.table--samples--body {
    text-align: left;
    padding: 8px;
}

.table--samples--body td {
    border: 1px solid;
}

.table--samples--header--sorted {
    padding-left: 2%;
}