.status-container {
    display: flex;
    overflow-x: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.status-content {
    display: flex;
}

.status-column {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    width: 200px;
    overflow: auto;
}