.status-container {
    display: flex;
    overflow-x: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #d3d9de;
    color: #003C71;
    text-align: center;
    font-weight: bold;
}

.status-content {
    display: flex;

}

.status-column {
    text-transform: uppercase;
    border: 2px solid  #7c8e9c;
    margin: 1em;
    padding: 2em;
    width: 170px;
    overflow: auto;
    background-color: white;
}

.modal-buttons {
    position: absolute;
    right: 20px;
    top: 25px;
}

.selector {
    position: absolute;
    right: 130px;
    top: 117px;
}

.arrow-button {
    position: absolute;
    right: 60px;
    top: 137px;
}

.batch-buttons {
    margin-top: 15px;
}

.label {
    position: absolute;
    right: 290px;
    top: 150px;
}