.screen-holder {
    width: 80%;
    height: 90%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.tool-bar {
    padding: 30px;
}

.view-wrapper {
    border: 1px solid #FFF200;
    height: 90%;
    display: flex;
    margin-top: 10px;
}

.add-buttons {
    margin-left: 720px;
    padding: 7px;
    position: relative;

}

.divider {
    width:10px;
    height:auto;
    display:inline-block;
}